h1 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}

#txt_error {
    padding: 2px 10px;
    display: inline-block;

    color: white;
    background-color: rgb(241, 13, 13);
    border-radius: 3px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

.field {
    padding: 5px 7px;
    margin-bottom: 5px;

    color: rgb(154, 151, 151);
    outline: none;

    border-radius: 5px;

    font-size: 25px;
}

#btn_submit {
    padding: 5px 7px;

    color: white;
    background-color: rgb(26, 128, 26);
    border-radius: 5px;

    font-size: 20px;
    font-weight: bold;

    cursor: pointer;
}

#btn_submit:hover {
    background-color: rgb(8, 82, 8);
}