body {
    /*background-color: rgb(44, 43, 43);*/
    background-color: rgb(198, 193, 193);
    background-image: url("/images/colorized-green-wallpaper.png");
}

#frm_container {
    width: fit-content;

    margin-top: 100px;
    padding: 40px;

    background-color: rgb(44, 43, 43);
    border-radius: 20px;
    border-width: 10px;
    border-color: white;
}

h1 {
    /* color:rgb(18, 120, 18); */
    display: inline;
    color: white;

    font-size: 110px;
    font-family: Arial, Helvetica, sans-serif;
}

#err_container {
    height: 30px;
    overflow: hidden;
}

#txt_error {
    padding: 4px 10px;
    display: inline;

    color: white;
    background-color: rgb(248, 45, 45);
    border-radius: 3px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

.field {
    padding: 10px 25px;
    margin-bottom: 8px;

    color: rgb(154, 151, 151);
    outline: none;

    box-shadow: none;

    border-color: grey;
    border-width: 2px;
    border-radius: 25px;

    font-size: 25px;
}

#btn_submit {
    padding: 5px 7px;
    width: 140px;
    height: 45px;

    color: white;
    background-color: rgb(14, 79, 14);
    border-radius: 25px;

    font-size: 20px;
    font-weight: bold;

    cursor: pointer;
}

#btn_submit:hover {
    background-color: rgb(10, 89, 10);
}