body {
    font-family: Arial, Helvetica, sans-serif;

    /*background-color: rgb(44, 43, 43);*/
    background-color: rgb(198, 193, 193);
    background-image: url("/images/colorized-green-wallpaper.png");
}

#main_container {
    margin-top: 20px;
    width: fit-content;

    background-color: rgb(44, 43, 43);
    border-radius: 20px;
}

#frm_container {
    display: inline-block;

    margin-top: 10px;
    padding: 20px 40px;
}

h1 {
    /* color:rgb(18, 120, 18); */
    display: inline;
    color: white;

    font-size: 110px;
    font-family: Arial, Helvetica, sans-serif;
}

#err_container {
    height: 40px;
    overflow: hidden;
}

#txt_error {
    padding: 4px 10px;
    display: inline;

    color: rgb(248, 45, 45);

    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

.field {
    padding: 10px 25px;
    margin-bottom: 8px;

    color: rgb(154, 151, 151);
    outline: none;

    box-shadow: none;

    border-color: grey;
    border-width: 2px;
    border-radius: 25px;

    font-size: 25px;
}

#btn_submit {
    margin-top: 10px;
    padding: 5px 7px;
    width: 140px;
    height: 45px;

    color: white;
    background-color: rgb(14, 79, 14);
    border-radius: 25px;

    font-size: 20px;
    font-weight: bold;

    cursor: pointer;
}

#btn_submit:hover {
    background-color: rgb(10, 89, 10);
}

hr {
    margin-top: 20px;
}

#policy_container {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
}

#policy_container h5 {
    color: white;
    text-align: left;
}

ul {
    list-style-type: none;
    text-align: left;
    font-size: 15px;
}

ul li {
    color: white;
}

/* 
Cross - https://www.flaticon.com/free-icons/delete", Delete icons created by Pixel perfect - Flaticon 
Check - https://www.flaticon.com/free-icons/yes, Yes icons created by juicy_fish - Flaticon
*/